<form action="{% url 'movies:create_review' movie.id %}" method="POST">
    {% csrf_token %}
    <font>
        한줄평: <input type="text" name="input_content" style="width:600px" placeholder=" 🔎 입력해주세요">
    </font>
    <br>
    <br>
    <font class="mr-3 mt-3">평점:</font>
    <span class="star-input">
        <span class="input" name="input_rate">
            <input class="js-star" type="radio" name="input_rate" id="p1" value="1"><label for="p1">1</label>
            <input class="js-star" type="radio" name="input_rate" id="p2" value="2"><label for="p2">2</label>
            <input class="js-star" type="radio" name="input_rate" id="p3" value="3"><label for="p3">3</label>
            <input class="js-star" type="radio" name="input_rate" id="p4" value="4"><label for="p4">4</label>
            <input class="js-star" type="radio" name="input_rate" id="p5" value="5"><label for="p5">5</label>
            <input class="js-star" type="radio" name="input_rate" id="p6" value="6"><label for="p6">6</label>
            <input class="js-star" type="radio" name="input_rate" id="p7" value="7"><label for="p7">7</label>
            <input class="js-star" type="radio" name="input_rate" id="p8" value="8"><label for="p8">8</label>
            <input class="js-star" type="radio" name="input_rate" id="p9" value="9"><label for="p9">9</label>
            <input class="js-star" type="radio" name="input_rate" id="p10" value="10"><label for="p10">10</label>
        </span>
    </span>
    <input type="submit" style="display:inline">
</form>
<br>
<hr>
{% if reviews %}
<ul>
    {% for review in reviews %}
    <li>
        <font>{{ review.user.username }} {{ review.rate }}점
        {% if user.id == review.user.id %}
        <form method="POST" action="{% url 'movies:delete_review' movie.id review.id %}" style="display: inline-block">
            {% csrf_token %}
            <a href="{% url 'movies:delete_review' movie.id review.id %}">
                <span style="color: black;">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </form>
        {% endif %}
        <br>
            한줄평: {{ review.content }}</font>
    </li>
    {% endfor %}
</ul>
{% else %}
<font>아직 작성된 리뷰가 없습니다.</font>
{% endif %}