<form action="{% url 'movies:create_review' movie.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" style="display:inline">
</form>
<hr>


{% if reviews %}
    <ul>
        {% for review in reviews %}
            <li>
                <b>{{ user.username }}</b>:
                평점: {{ review.rate }} 한줄평: {{ review.content }}
                <form method="POST" action="{% url 'movies:delete_review' movie.id review.id %}" style="display: inline-block">
                    {% csrf_token %}
                    <input type="submit", value="[삭제]" style="display:inline">
                </form>
            </li>
        {% endfor %}
    </ul>

{% else %}
<p>아직 작성된 리뷰가 없습니다.</p>
{% endif %}