{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'movies/css/page_title.css' %}">
{% endblock %}
{% block body %}

<div class="row">
    <div class="col-sm-4 center">
        <a href="{{ movie.poster_url }}">
            <img src="{{ movie.poster_url }}" alt="movie_img_detail" style='width: 300px'>
        </a>
    </div>
    <div class="col-sm-8">
        <h1 style="display: inline-block">
            <font>{{ movie.title }}</font>
        </h1>
        <a href="{% url 'movies:movie_like' movie.id %}" style="display: inline-block">
            {% if request.user in movie.like_users.all %}
            <span style="font-size: 30px; color: red;">
                <i class="fas fa-heart"></i>
            </span>
            {% else %}
            <span style="font-size: 30px; color: gray;">
                <i class="far fa-heart"></i>
            </span>
            {% endif %}
        </a>
        <p>
            <font>장르: {% for genre in genres %} {{ genre.name }} {% endfor %}
            </font>
        </p>
        <p>
            <font>
                인기도: {{ movie.popularity }}%
            </font>
        </p>
        <p>
            <font>
                개봉일: {{ movie.release_date }}
            </font>
        </p>
        <p>
            <font>
                상세설명: {{ movie.overview }}
            </font>
        </p>

    </div>
</div>
<div class="mt-5">
{% include 'movies/_review.html' %}
</div>
{% endblock body %}