{% extends 'base.html' %}
{% block body %}


<h1 style="display: inline-block">{{ movie.title }}</h1>
<a href="{% url 'movies:movie_like' movie.id %}" style="display: inline-block">
    {% if request.user in movie.like_users.all %}
    <button>좋아요 취소</button>
    {% else %}
    <button>좋아요</button>
    {% endif %}
</a>


<hr>
<p>
    장르: {% for genre in genres %} {{ genre.name }} {% endfor %}
</p>
<p>
    인기도(하트아이콘): {{ movie.popularity }}
</p>
<p>
    <a href="{{ movie.poster_url }}">
        <img src="{{ movie.poster_url }}" alt="movie_img_detail" style='width: 300px'>
    </a>
</p>
<p>
    상세설명: {{ movie.overview }}
</p>
<div>
{% for message in messages %}
    {{ message }}
{% endfor %}
{% include 'movies/_review.html' %}
{% endblock body %}

