{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'movies/css/button.css' %}">
{% endblock head %}
{% block body %}
<div class="rela-block profile-card">
    <div class="profile-pic" id="profile_pic">
    </div>
    <div class="rela-block profile-name-container">
        <div class="rela-block user-name" id="user_name">{{user.username}}</div>
        <a href="{% url 'accounts:follow' user.id %}" class="btn btn-light mx-3">
            {% if request.user != user %}
                {% if user in request.user.stars.all %}
                    <button class="button">following</button>
                {% else %}
                    <button class="button">follow</button>
                {% endif %}

            {% endif %}
        </a>
        <div class="rela-block user-desc" id="user_description">{{user.email}}</div>
    </div>
    <div class="rela-block profile-card-stats">
        <div class="floated profile-stat works" id="num_works">{{reviews.count}}<br></div>
        <div class="floated profile-stat followers" id="num_followers">{{user.fans.count}}<br></div>
        <div class="floated profile-stat following" id="num_following">{{user.stars.count}}<br></div>
    </div>
</div>
<div class="rela-block content">
    {% for review in reviews %}
    <div class="rela-inline image">
        <a href="{% url 'movies:movie_detail' review.movie.pk %}">
            <img src="{{ review.movie.poster_url }}" alt="">
        </a>
    </div>
    {% endfor %}

</div>
</div>
{% endblock %}
