body {
    background-color: rgba(9, 46, 71, 0.918);
    /* background-repeat: no-repeat; */
  }

.navbar-custom {
    color: rgba(255, 106, 205, 0.925);
    background-color: rgb(255, 179, 182);
}

font {
    font-family: 'Do Hyeon', sans-serif;
    color: rgba(255, 255, 255, 0.925);
}

#container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    padding: 70px 0;
    text-align: center;
  }
div.card {
    width: 250px;
    height: 250px;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
  }
  
div.card:hover {
width: 250px;
height: 250px;
transform: scale(1.2);
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

input {
    display: inline-block;
    border-radius: 4px;
    border: none;
    padding: 10px;
    width: 800px;
    margin: 5px;
}