<nav class="navbar sticky-top navbar-expand-lg navbar-custom px-5">
    <a class="navbar-brand" href="{% url 'movies:movie_list' %}">
        <span style="color: black;">
            <i class="fas fa-tape fa-2x"></i>
        </span>
        <font size="6" color="black">은수달지의 추억 저장소</font>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:user_detail' user.id %}">
                    <font size="3" color="black">내 페이지</font>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'accounts:logout' %}" class="nav-link">
                    <font size="3" color="black">로그아웃</font>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'accounts:user_list' %}" class="nav-link">
                    <font size="3" color="black">유저목록</font>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'movies:movie_list' %}" class="nav-link">
                    <font size="3" color="black">영화목록</font>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'accounts:signup' %}" class="nav-link">
                    <font size="5" color="black">회원가입</font>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'accounts:login' %}" class="nav-link">
                    <font size="5" color="black">로그인</font>
                </a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>